@using SpermAnalyzerApp.Models
@using System.Collections.Generic
@using SpermAnalyzerApp.Resources;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    List<Option> options = (List<Option>)@Model.Options;
    string field = @Model.Field;
}

@if(options.Count > 0) {
<table class="table table-hover">
    <tr>
        <th>选项值</th>
        <th>顺序</th>
        <th></th>
    </tr>
    @foreach (Option _option in options)
    {
    <tr class="option-item">
        <td>@_option.FieldValue</td>
        <td>@_option.FieldWeight</td>
        <td>
            <a href="/options/@_option.Id/up" class="option-item-order"><span class="glyphicon glyphicon-arrow-up"></span></a> &nbsp;
            <a href="/options/@_option.Id/down" class="option-item-order"><span class="glyphicon glyphicon-arrow-down"></span></a> &nbsp;
            <a href="/options/@_option.Id" data-method="delete" class="option-item-remove"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    }
</table>
} else {
<div class="well well-sm text-center">@TextCN.Get(field) 暂无选择值</div>
}