@using SpermAnalyzerApp.Models

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "layout.cshtml";
    
    User _user = (User)@Model.User;
}

@section Header
{
}


<div class="container container-top"> 
    <div class="panel panel-default custom-info-panel">
        <div class="panel-heading record-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-9 titlebox">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> 添加用户</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body  custom-info-panel">
            <div class="container">
                 <div class="row">
                      <div class="col-md-12">
                            <form id="userForm" name="userForm" class="form-horizontal" action="/users" method="POST">
                                <div class="row" id="alert_container"></div>

                                @Html.Partial("_form", @Model)
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <input id="submitUserForm" type="submit" value="新建用户" class="btn btn-primary btn-lg" />
                                        <a href="/users" class="btn btn-default btn-lg" role="button">取消</a>
                                    </div>
                                </div>
                            </form>
                       </div>
                  </div>
             </div>
        </div>
    </div>
</div>

@section Footer
{
<div class="mask hidden"></div>
<div class="loading text-center hidden">
    <img src="~/Content/images/loading.gif" />
    <div class="loading-info">保存用户中，请耐心等待 <a href="#" class="loading-stop">返回</a></div>
</div>

<script type="text/html" id="alert_template">
    <div class="alert alert-dismissable" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div data-content="content"></div>
    </div>
</script>

<script type="text/javascript">
$(function () {
    var userForm = $("#userForm");
    var toggle_loading = function () {
        $(".loading").toggleClass("hidden");
        $(".mask").toggleClass("hidden");
    };

    var clear_alert = function () {
        $("#alert_container").html("");
    };

    var validator = userForm.validate({
        errorElement: "p",
        errorClass: "has-error",
        errorPlacement: function (errorLabel, element) {
            errorLabel.addClass("help-block").css("margin-bottom", "0px").css("white-space", "nowrap").css("font-size", "95%");
            errorLabel.addClass("text-danger").appendTo(element.closest("[class^='col-']"));
        },
        highlight: function( element, errorClass, validClass ) {
            $(element).closest(".form-group").addClass(errorClass).removeClass(validClass);
        },
        unhighlight: function( element, errorClass, validClass ) {
            $(element).closest(".form-group").removeClass(errorClass).addClass(validClass);
        },
        invalidHandler: function (event, validator) {
            clear_alert();
            $("#alert_container").loadTemplate($("#alert_template"), {
                content: "提示：请正确填写用户信息后再试",
            }).children(".alert").addClass("alert-warning").slideDown(300).end();
        }
    });

    userForm.ajaxForm({
        type: "POST",
        dataType: "json",
        beforeSubmit: function (formData, jqForm, options) {
            if (!userForm.valid()) {
                return false;
            }
            toggle_loading();
        },
        success: function (data, status, xhr) {
            $("#alert_container").loadTemplate($("#alert_template"), {
                content: data.alert.Value,
            }).children(".alert").addClass((data.succeed.Value) ? "alert-success" : "alert-danger").slideDown(300).end();
            validator.resetForm();
        },
        error: function (xhr, status, error) {
            $("#alert_container").loadTemplate($("#alert_template"), {
                content: "保存用户失败，失败原因[" + error + "]",
            }).children(".alert").addClass("alert-danger").slideDown(300).end();
        },
        complete: function () {
            toggle_loading();
        }
    });

    $('.loading-stop').click(function () {
        toggle_loading();
        return false;
    });
});
</script>
}